@font-face {
    font-family:"Roboto-Medium" ;
    src: url(font-style/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Bebas";
    src: url(font-style/BebasNeue-Regular.ttf);
}
@font-face {
    font-family:"Roboto-Regular" ;
    src: url(font-style/Roboto-Regular.ttf);
}
@font-face {
    font-family:"Roboto-Black" ;
    src: url(font-style/Roboto-Black.ttf);
}
body{
    margin: 0px;
}

.main{
    background-color: #FFF9F4;
}

.nike{
    font-family: "Roboto-Medium";
    font-size: 20px;
    /* color: rgb(65, 59, 59); */
    color: #64605f;
}

.nike > span{
    color: #ff8367;
    font-weight: 800;
}

.nav-part1{
    display: flex;
    align-items: center;
    gap: 5px; 
}

.nav-part1 > p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 65px;
    padding-right: 40px;
}

.nav-part2 > a{
   font-family:"Roboto-Medium" ;
    text-decoration: none;
    color: #a09d9c;
    font-weight: bold;    
}

.nav-part2 > a>span{
    /* color: black; */
    color: #464649;
}

.nav{
        position: sticky;
        top: 0;
    /* box-shadow: 0px 1px  15px gray; */
    display: flex;
    justify-content: space-around;
    gap: 250px;
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: 0px 10px 10px #E4DFDA;
    background-color: #FFF9F4;
    /* width: 100%;     */
}

.img-lorem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 80px;
}

.nike-react{
    font-family: "Bebas";
    color: #ff8367;
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 250;
    margin: 0px;
}

.infinity{
    font-family: "Bebas";
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 250;
    color: #363958;
    margin: 0px;
}

.image2>img{
    width: 520px;
    height: auto;
}

.lorem-para{
    margin: 0px;
    font-family:"Roboto-Regular" ;
    color: #212585;
    line-height: 25px;
}

.lorem-div{
    padding: 16px;
    padding-right: 180px;
}

.btn{
    background-color: #3D4FF3;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 13px 10px;
    border: none;
    cursor: pointer;
    margin-top: 18px;
}

.main1{
    padding: 50px 12px;
    margin-left: 58px;
    margin-right: 58px;
    /* padding-left: 12px;
    padding-right: 12px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.Casual{
    font-family: "Bebas";
    font-size: 48px;
    text-transform: capitalize;
    color: #363958;
    margin: 0px 0px 0px 50px;
}

.shoes{
    background-color: #E5E5E5;
    margin: auto;
}

/* .shoe1{
    width: 272px;
    height: 350px;
} */
.shoe1 > img{
    background-color: #F1F1F1;
    height: 348px;
    /* width: 125%; */
    width: 100%;
}

.shoe-div-1{
    padding: 12px;
    background-color: #FFFFFF;
    width: 24vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #CDCDCD;
    margin-top: 10px;
}

.shoes-container1{
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    /* margin-top: 20px; */
    gap: 25px;
}

.nike-shoe{
    font-family:"Roboto-Medium" ;
    font-size: 24px;
    color: #363958;
    margin: 0px 0px 8px ;
    font-weight: bold;
}

.price{
    color: #ff8367;
    font-weight:bold;
    font-family: "Roboto-Regular";
    font-size: 24px;
}

.price> p {
    margin: 0px;
}

.price-btn{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 8px 16px;
}

.nike-shoe-lorem-para{
    padding: 16px;
}

.cards-pic{
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-bottom: 60px;
    /* justify-content: center; */
    /* width: 95%;
    margin-left: 40px;
    margin-right: 40px; */
    /* gap: 20px; */    
}

.cards-pic-prt-2{
    /* width: 100%; */
    margin: 10px 10px 0px 10px;
    width: 50%;
}

.cards-pic-prt-1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-right: 10px;
}

.perfect-fit{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 10px 10px 10px #DDDDDD;
    /* width: 37.25vw; */
    margin-left: 50px;
}

.free-exchange{
    display: flex;
    background-color: #FFFFFF;
}

.contect-our-seller{
    display: flex;
    background-color: #FFFFFF;
}

.shoe2 > img{
    background-color: #FFFFFF;
}

.fit-pic > img{
    width: 80px;
    height: 84px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.fit-para{
    padding: 16px 30px 16px 16px;
    line-height: 25px;
    /* width: 40vw; */
}

.para1{
    font-family: "Roboto-Regular" ;
    font-size: 20px;
    font-weight: bolder;
    color: #363958;
    margin: 0px;    
}

.para2{
    font-family: "Roboto-Regular" ;
    font-size: 16px;
    color: #252635;
    margin-top: 7px;
    margin-bottom: 0px;
}

.sub-div{
    width: 80vw;
    height: 29vh;
    background-color: #FFFFFF;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.sub-div h1{
    font-family:"Roboto-Medium" ;
    font-size: 24px;
    color: #363958;
    margin-bottom: 0px;
}

.input-and-butn{
width: 95%;
margin: auto;
}

#email{
    /* width: 726px; */
    width: 85%;
    height: 30px;
    font-size: 1rem;
    padding: 6px 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #CED4DA;
    border-right: none;    
}

.main1-part2{
    display: flex;
    justify-content: center;
}

.subscribe{
    background-color: #3D4FF3;
    padding: 11px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #0B5ED7;
    font-size: 16px;
    color: white;
}

.subscribe:hover{
    background-color: #157347;
}

.h1-para-div{
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
    gap: 150px;
    font-family:"Roboto-Regular";
    /* margin: auto; */
}

.h1-para-and-footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 80vw;
    gap: 50px;
    margin: auto;
}

.h1-para-div h1{
    font-size: 20px;
    color: #363958;
}

.h1-para-div a{
    font-size: 16px;
    text-decoration: none;
    color: #252635;
    line-height: 25px;
}

.h1-a{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
}

.last-section{
    background-color: #F8F9FA;  
}

.footer-div{
    text-align: center;
    font-family:"Roboto-Regular";
}

.footer-div span{
    color: #ff8367;
    font-size: 16px;
}

.main2{
    padding: 40px 12px;
    margin-left: 58px;
    margin-right: 58px;
}